._CovidPatient.cpp
._CovidPatient.h
._IOAble.cpp
._IOAble.h
._Menu.cpp
._Menu.h
._Patient.cpp
._Patient.h
._PreTriage.cpp
._PreTriage.h
._Ticket.cpp
._Ticket.h
._Time.cpp
._Time.h
._TriagePatient.cpp
._TriagePatient.h
._bigdata.csv
._correct_output.txt
._data.csv
._fp1Tester.cpp
._fp2Tester.cpp
._fp3Tester.cpp
._fpTester.cpp
._images
._smalldata.csv
._student_output.txt
._utils.cpp
._utils.h
